[Desktop Entry]
Type=Application
Name=ReliefOS Setup
Name[zh_CN]=ReliefOS 安装程序
Exec=/usr/bin/installer --graphical
TryExec=/usr/bin/installer
Icon=app
Terminal=false
Categories=System;
