[Desktop Entry]
Type=Application
Name=Task manager
Name[zh_CN]=任务管理器
Exec=/usr/bin/taskmgr
TryExec=/usr/bin/taskmgr
Icon=xload
Terminal=false
Categories=System;
